<section class="row compare-vehicles-container">
	<ng-container *ngIf="!compare; else compareTableBlock">
		<section class="col-md-3 selected-vehicles-container">
			<div class="text-center">
				<button class="btn btn-compare" [disabled]="selectedVehicles.length <= 1" [ngClass]="{'btn-light': selectedVehicles.length <= 1, 'btn-secondary': selectedVehicles.length > 1}"
				 (click)="makeComparasion()">
					Compare
				</button>
			</div>
			<div class="row selected-vehicles">
				<div class="offset-md-3 col-7 vehicle" *ngFor="let vehicle of selectedVehicles; let i = index">
					<i class="fas fa-trash-alt remove" (click)="removeSelectedVehicle(i)"></i>
					<app-cards>
						<img [src]="vehicle.image.small" [attr.alt]="vehicle.model" class="vehicle-img img-fluid">
						<p class="model">{{vehicle.model}}</p>
					</app-cards>
				</div>
			</div>
		</section>

		<section class="col-md-9 searcher-vehicle">
			<div class="row">
				<div class="searcher-container col-12 text-center">
					<input class="form-control" type="text" placeholder="Type a car brand ..." #searcher appSearcher [(arr)]="vehicles" [searchBy]="'brand'"
					 (results)="vehicles = $event">

				</div>
				<div class="vehicle col-12 col-md-3" *ngFor="let vehicle of vehicles" (click)="selectVehicle(vehicle)">
					<app-cards>
						<img [src]="vehicle.image.small" [attr.alt]="vehicle.model" class="vehicle-img img-fluid">
						<p class="model">{{vehicle.model}}</p>
						<b class="price">{{vehicle.price | currency}}</b>
					</app-cards>
				</div>
			</div>
		</section>

		<section class="col-12 selected-vehicles-responsive" [@responsiveBlock]="showResponsiveBlock">
			<div class="row">
				<div class="col-12 selected-vehicles-responsive-header">
					<div class="row" (click)="toggleResponsiveBlock()">
						<div class="col-11 text-center">
							<p>Selected vehicles: {{selectedVehicles.length}}</p>
						</div>
						<div class="col-1">
							<i class="fas" [ngClass]="{'fa-angle-up': showResponsiveBlock === 'close', 'fa-angle-down': showResponsiveBlock === 'open'}">
							</i>
						</div>
					</div>
				</div>
				<div class="col-12 vehicle" *ngFor="let vehicle of selectedVehicles; let i = index">
					<i class="fas fa-trash-alt remove" (click)="removeSelectedVehicle(i)"></i>
					<app-cards>
						<img [src]="vehicle.image.small" [attr.alt]="vehicle.model" class="vehicle-img img-fluid">
						<p class="model">{{vehicle.model}}</p>
					</app-cards>
				</div>
				<ng-container *ngIf="selectedVehicles.length > 1">
					<button class="btn btn-compare" [disabled]="selectedVehicles.length <= 1" [ngClass]="{'btn-light': selectedVehicles.length <= 1, 'btn-secondary': selectedVehicles.length > 1}"
					 (click)="makeComparasion()">
						Comparar
					</button>
				</ng-container>
			</div>
		</section>

		<ng-template #errorModal let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title">Error</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>{{errorMessage}} &hellip;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
			</div>
		</ng-template>
	</ng-container>

	<ng-template #compareTableBlock>
		<section class="col-12 compare-table">
			<div class="row">
				<div class="col-12 text-left">
					<button class="btn btn-dark" (click)="newCoparasion()">New comparison</button>
				</div>

				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th>Price</th>
								<th>Brand</th>
								<th>Year</th>
								<th>Engine</th>
								<th>Transmission</th>
								<th>Displacement</th>
								<th>Extra info</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let vehicle of selectedVehicles">
								<td>
									<img [src]="vehicle.image.small" class="img-fluid">{{vehicle.model}}</td>
								<td>{{vehicle.price | currency}}</td>
								<td>{{vehicle.brand}}</td>
								<td>{{vehicle.year}}</td>
								<td>{{vehicle.engine}}</td>
								<td>{{vehicle.transmission}}</td>
								<td>{{vehicle.displacement | number}}</td>
								<td>
									<ul>
										<li *ngFor="let extra of vehicle['extra-info']">{{extra}}</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</ng-template>

</section>