$light:                                 #434A4C;
$light-medium:                          #3C444A;
$strong-medium:                         #3C444A;
$strong:                                #242B2B;
$strongest:                             #0F1111;
$white:                                 #ffff;